<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Instagram Test Suite">
    <listeners>
        <listener class-name="com.Instagram.util.ExtentReporterNG"/>
    </listeners>
    
    <test name="Login Tests">
        <classes>
            <class name="com.QAproject.loginTest.LoginTest"/>
        </classes>
    </test>

    <test name="Suggest Tests">
        <classes>
            <class name="com.Instagram.suggestTest.SuggestTest"/>
        </classes>
    </test>
</suite>
